<p id="notice"><%= notice %></p>

<h1>Listing Businesses</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Street</th>
      <th>Number</th>
      <th>Neighboorhood</th>
      <th>City</th>
      <th>State</th>
      <th>Contry</th>
      <th>Postal code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @businesses.each do |business| %>
      <tr>
        <td><%= business.name %></td>
        <td><%= business.street %></td>
        <td><%= business.number %></td>
        <td><%= business.neighboorhood %></td>
        <td><%= business.city %></td>
        <td><%= business.state %></td>
        <td><%= business.contry %></td>
        <td><%= business.postal_code %></td>
        <td><%= link_to 'Show', business %></td>
        <td><%= link_to 'Edit', edit_business_path(business) %></td>
        <td><%= link_to 'Destroy', business, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Business', new_business_path %>
